<%= turbo_stream.prepend "flash-container", partial: "shared/flash_message", locals: { type: "notice", message: @notice } %>
<%= turbo_stream.replace "company_properties_frame" do %>
  <turbo-frame id="company_properties_frame" class="block w-full">
    <%= render "companies/properties_grid", company: @company, properties: @properties %>
  </turbo-frame>
<% end %>
<%= turbo_stream.replace "property_select_container" do %>
  <div id="property_select_container" class="relative">
    <%= select_tag :property_ids, 
        nil, 
        multiple: true, 
        data: { 
          controller: "select", 
          select_url_value: list_properties_path,
          select_placeholder_value: "Escribe para buscar propiedades sin asignar..." 
        },
        class: "w-full" %>
  </div>
<% end %>
