<!DOCTYPE html>
<html>
  <head>
    <title>Agenda Pro - Confirmación</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application.css", "data-turbo-track": "reload" %>
    <%= vite_javascript_tag 'application', "data-turbo-track": "reload" %>
  </head>
  <body class="bg-gray-50">
    <%= yield %>
  </body>
</html>
